{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "index.css" %}">
</head>

<body>
    <header>
        <h1>Learner</h1>
        <nav class="stroke">
            <ul>
                <li><a href="#">Models</a></li>
                <li><a href="{% url 'material' %}">Materials</a></li>
                <li><a href="{% url "quiz" %}">Quizs</a></li>
            </ul>
        </nav>
    </header>
    <section class="main">
        <div>
            <h1>Welcome</h1>
            <h1>Learner</h1>
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, quisquam nisi repudiandae autem culpa
                saepe
                magni facere? Quo, laboriosam quibusdam?
            </h1>
        </div>
    </section>
    <section class="about">
        <article class="card">
            <p>
            <h3>Border Animation</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nostrum quam
            mollitia sit aliquam omnis nisi neque nulla, ipsa obcaecati eveniet
            incidunt doloribus quaerat at totam nemo exercitationem, officiis
            quisquam! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Necessitatibus, quisquam perferendis
            </p>
            <span class="top"></span>
            <span class="right"></span>
            <span class="bottom"></span>
            <span class="left"></span>
        </article>
    </section>
    <section class="pages">
        <div class="model-div">
            <img src="download.jpeg" alt="">
            <h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ad omnis fugit! Facilis, repellat
                aliquid soluta eligendi corporis beatae earum ratione minima. Tempora veniam dolore sint quo
                necessitatibus accusamus ipsum consectetur rerum, corporis similique libero, hic voluptatem inventore
                nobis soluta?
            </h2>
        </div>
        <div class="material-div">
            <img src="download.jpeg" alt="">
            <h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ad omnis fugit! Facilis, repellat
                aliquid soluta eligendi corporis beatae earum ratione minima. Tempora veniam dolore sint quo
                necessitatibus accusamus ipsum consectetur rerum, corporis similique libero, hic voluptatem inventore
                nobis soluta?
            </h2>
        </div>
        <div class="quiz-div">
            <img src="download.jpeg" alt="">
            <h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ad omnis fugit! Facilis, repellat
                aliquid soluta eligendi corporis beatae earum ratione minima. Tempora veniam dolore sint quo
                necessitatibus accusamus ipsum consectetur rerum, corporis similique libero, hic voluptatem inventore
                nobis soluta?
            </h2>
        </div>
    </section>
    <section class="users">
        <div>
            <div>
                <h1>10K Daily Active users</h1>
            </div>
            <div>
                <h1>1M Total users</h1>
            </div>
            <div>
                <h1>32k Materials Downloaded</h1>
            </div>
            <div>
                <h1>300+ Models </h1>
            </div>
        </div>
    </section>
</body>

</html>