{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "index.css" %}">
</head>

<body>
    <header>
        <h1>Learner</h1>
        <nav class="stroke">
            <ul>
                <li><a href="#">Models</a></li>
                <li><a href="{% url 'material' %}">Materials</a></li>
                <li><a href="{% url "quiz" %}">Quizs</a></li>
            </ul>
        </nav>
    </header>
    <section class="main">
        <div>
            <h1>Welcome</h1>
            <h1>Learner</h1>
            <h1>A gateway to immersive 3D exploration, curated educational resources, and interactive quizzes.
            </h1>
        </div>
    </section>
    <section class="about">
        <article class="card">
            <p>
            <h3>ABOUT US    </h3>
            Welcome to our platform, where learning meets innovation! At our core, we're dedicated to providing you with an enriching educational experience like no other. Explore captivating 3D models, dive into comprehensive educational materials, and challenge your knowledge with engaging quizzes.Driven by a passion for learning, our team has crafted a space where curiosity thrives and knowledge is at your fingertips. Whether you're a student, educator, or lifelong learner, we invite you to join us on a journey of discovery and empowerment. Together, let's unlock the boundless potential of education and shape a brighter future.
            </p>
            <span class="top"></span>
            <span class="right"></span>
            <span class="bottom"></span>
            <span class="left"></span>
        </article>
    </section>
    <section class="pages">
        <div class="model-div">
            <img src="download.jpeg" alt="">
            <h2>
                Immerse yourself in captivating digital worlds with our cutting-edge 3D visualization tool. Explore intricate details, manipulate perspectives, and unlock new dimensions of understanding.
            </h2>
        </div>
        <div class="material-div">
            <img src="download.jpeg" alt="">
            <h2>
                Access a wealth of educational resources, from notes to PDFs, carefully curated to support your learning journey and enrich your understanding of diverse subjects.
            </h2>
        </div>
        <div class="quiz-div">
            <img src="download.jpeg" alt="">
            <h2>
                Test your knowledge and challenge yourself with interactive quizzes designed to reinforce key concepts and deepen your understanding of complex topics. Engage, learn, and grow with our dynamic assessment tools.
            </h2>
        </div>
    </section>
    <section class="users">
        <div>
            <div>
                <h1>10K Daily Active users</h1>
            </div>
            <div>
                <h1>1M Total users</h1>
            </div>
            <div>
                <h1>32k Materials Downloaded</h1>
            </div>
            <div>
                <h1>300+ Models </h1>
            </div>
        </div>
    </section>
</body>

</html>